# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# Mac DS_Store Files
.DS_Store

# ENV
.env

containers/php/html/*

containers/db/mysql/data/*
containers/db/geometry.sql
!containers/db/mysql/data/.gitkeep
containers/db/files_bridge/*

#php configs examples
containers/php/php.ini
containers/php/xdebug.ini
containers/php/php-fpm.conf
